<a href="https://colab.research.google.com/github/newuser785/myrepo/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# pip install pyspark
# pip install install-jdk
# pip install findspark

In [30]:
from pyspark.sql import SparkSession
import random
import string

# Create SparkSession
spark = SparkSession.builder.appName("Student Grades").getOrCreate()

# Generate random student data
male_names = ["Иван", "Александр", "Максим", "Артем", "Никита", "Михаил", "Данила", "Егор", "Дмитрий", "Тимофей"]
female_names = ["Софья", "Анастасия", "Александра", "Полина", "Елизавета", "Диана", "Виктория", "Ксения", "Валерия", "Алёна"]

student_data = []
for i in range(1, 51):
    gender = random.choice(["male", "female"])
    if gender == "male":
        name = random.choice(male_names)
    else:
        name = random.choice(female_names)
    age = random.randint(18, 25)
    city = random.choice(["Moscow", "St. Petersburg", "Novosibirsk"])
    student_data.append((i, name, age, city))

students_df = spark.createDataFrame(student_data, ["Student_ID", "Name", "Age", "City"])

# Generate random course data
course_data = [(101, "Introduction to Python", "Learn the basics of Python programming"),
              (102, "Python for Data Science", "Learn how to use Python for data analysis"),
              (103, "Python Machine Learning", "Learn how to use Python for machine learning"),
              (104, "Advanced Python Programming", "master advanced Python concepts")]
courses_df = spark.createDataFrame(course_data, ["Course_ID", "Name", "Description"])

# Generate random grade data
grade_data = []
for student_id in range(1, 51):
    for course_id in [101, 102, 103, 104]:
        grade = random.randint(1, 10)
        grade_data.append((student_id, course_id, grade))

grades_df = spark.createDataFrame(grade_data, ["Student_ID", "Course_ID", "Grade"])

# Print the generated data
print("Student data:")
students_df.show()
print("Course data:")
courses_df.show()
print("Grade data:")
grades_df.show()

Student data:
+----------+---------+---+--------------+
|Student_ID|     Name|Age|          City|
+----------+---------+---+--------------+
|         1|    Софья| 22|        Moscow|
|         2|     Иван| 23|St. Petersburg|
|         3|   Максим| 23|        Moscow|
|         4|Елизавета| 23|St. Petersburg|
|         5|Александр| 25|   Novosibirsk|
|         6|  Дмитрий| 18|        Moscow|
|         7|   Никита| 19|   Novosibirsk|
|         8|   Полина| 25|   Novosibirsk|
|         9|   Максим| 22|        Moscow|
|        10|   Михаил| 24|St. Petersburg|
|        11|Александр| 24|   Novosibirsk|
|        12|  Тимофей| 19|   Novosibirsk|
|        13|    Софья| 20|   Novosibirsk|
|        14|   Ксения| 23|   Novosibirsk|
|        15|   Полина| 24|        Moscow|
|        16|   Полина| 19|        Moscow|
|        17|    Артем| 19|St. Petersburg|
|        18|   Михаил| 19|   Novosibirsk|
|        19|Елизавета| 19|   Novosibirsk|
|        20|     Иван| 19|        Moscow|
+----------+---------+---+--------------+
only showing top 20 rows

Course data:
+---------+--------------------+--------------------+
|Course_ID|                Name|         Description|
+---------+--------------------+--------------------+
|      101|Introduction to P...|Learn the basics ...|
|      102|Python for Data S...|Learn how to use ...|
|      103|Python Machine Le...|Learn how to use ...|
|      104|Advanced Python P...|master advanced P...|
+---------+--------------------+--------------------+

Grade data:
+----------+---------+-----+
|Student_ID|Course_ID|Grade|
+----------+---------+-----+
|         1|      101|    1|
|         1|      102|    5|
|         1|      103|    2|
|         1|      104|    1|
|         2|      101|    1|
|         2|      102|    1|
|         2|      103|    2|
|         2|      104|    9|
|         3|      101|    2|
|         3|      102|    4|
|         3|      103|    7|
|         3|      104|    9|
|         4|      101|    8|
|         4|      102|    1|
|         4|      103|    7|
|         4|      104|    5|
|         5|      101|   10|
|         5|      102|    5|
|         5|      103|    3|
|         5|      104|    5|
+----------+---------+-----+
only showing top 20 rows

In [42]:
from pyspark.sql import SparkSession
import random
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Создание SparkSession
spark = SparkSession.builder.appName("Students Analysis").getOrCreate()

# Создание схемы DataFrame (студенты)
students_schema = StructType([
    StructField("ID", IntegerType(), False),
    StructField("Name", StringType(), False),
    StructField("Age", IntegerType(), False),
    StructField("City", StringType(), False)
])

# Создание DataFrame (студенты)
students_data = [(i, f"Student_{i}", random.randint(21, 30), random.choice(["Moscow", "St. Petersburg", "Novosibirsk"])) for i in range(1, 51)]
students_df = spark.createDataFrame(students_data, schema=students_schema)

# Создание схемы DataFrame (предметы)
courses_schema = StructType([
    StructField("ID", IntegerType(), False),
    StructField("Name", StringType(), False),
    StructField("Description", StringType(), False)
])

# Создание DataFrame (предметы)
courses_data = [(101, "Introduction to Python", "Python programming basics"),
               (102, "Python for Data Science", "Data analysis with Python"),
               (103, "Python Machine Learning", "Machine learning with Python"),
               (104, "Advanced Python Programming", "Advanced Python concepts")]
courses_df = spark.createDataFrame(courses_data, schema=courses_schema)

# Создание DataFrame (оценки)
grades_data = []
for i in range(1, 51):
    for j in [101, 102, 103, 104]:
        grade = random.randint(1, 10)
        grades_data.append((i, j, grade))

grades_schema = StructType([
    StructField("Student_ID", IntegerType(), False),
    StructField("Course_ID", IntegerType(), False),
    StructField("Grade", IntegerType(), False)
])

grades_df = spark.createDataFrame(grades_data, schema=grades_schema)

students_df.show()
courses_df.show()
grades_df.show()

+---+----------+---+--------------+
| ID|      Name|Age|          City|
+---+----------+---+--------------+
|  1| Student_1| 24|   Novosibirsk|
|  2| Student_2| 26|   Novosibirsk|
|  3| Student_3| 21|   Novosibirsk|
|  4| Student_4| 27|   Novosibirsk|
|  5| Student_5| 22|   Novosibirsk|
|  6| Student_6| 23|   Novosibirsk|
|  7| Student_7| 27|        Moscow|
|  8| Student_8| 24|St. Petersburg|
|  9| Student_9| 23|St. Petersburg|
| 10|Student_10| 25|        Moscow|
| 11|Student_11| 22|St. Petersburg|
| 12|Student_12| 29|St. Petersburg|
| 13|Student_13| 27|St. Petersburg|
| 14|Student_14| 30|St. Petersburg|
| 15|Student_15| 29|        Moscow|
| 16|Student_16| 27|   Novosibirsk|
| 17|Student_17| 29|St. Petersburg|
| 18|Student_18| 26|        Moscow|
| 19|Student_19| 23|        Moscow|
| 20|Student_20| 26|        Moscow|
+---+----------+---+--------------+
only showing top 20 rows

+---+--------------------+--------------------+
| ID|                Name|         Description|
+---+--------------------+--------------------+
|101|Introduction to P...|Python programmin...|
|102|Python for Data S...|Data analysis wit...|
|103|Python Machine Le...|Machine learning ...|
|104|Advanced Python P...|Advanced Python c...|
+---+--------------------+--------------------+

+----------+---------+-----+
|Student_ID|Course_ID|Grade|
+----------+---------+-----+
|         1|      101|   10|
|         1|      102|    1|
|         1|      103|   10|
|         1|      104|    3|
|         2|      101|    9|
|         2|      102|    5|
|         2|      103|    8|
|         2|      104|    1|
|         3|      101|    4|
|         3|      102|    5|
|         3|      103|    8|
|         3|      104|    9|
|         4|      101|    7|
|         4|      102|    5|
|         4|      103|    6|
|         4|      104|    4|
|         5|      101|    3|
|         5|      102|   10|
|         5|      103|    2|
|         5|      104|    6|
+----------+---------+-----+
only showing top 20 rows

In [62]:
# Вычисление среднего возраста студентов
average_age = students_df.selectExpr("avg(Age)").collect()
print("Средний возраст студентов:", average_age[0][0])

Средний возраст студентов: 23.833333333333332

In [64]:
more_students_data = [(i, f"Student_{i}", random.randint(18, 25), random.choice(["Moscow", "St. Petersburg", "Novosibirsk"])) for i in range(51, 101)]
more_students_df = spark.createDataFrame(more_students_data, schema=students_schema)

# Объединение существующего DataFrame со вновь созданным
all_students_df = students_df.union(more_students_df)

# Определение количества студентов из каждого города после добавления
all_students_by_city = all_students_df.groupBy("City").count()
all_students_by_city.show()

+--------------+-----+
|          City|count|
+--------------+-----+
|        Moscow|   23|
|St. Petersburg|   18|
|   Novosibirsk|   15|
+--------------+-----+